*, 
html {
  margin: 0;
  padding: 0;
}

.container {}

.container-navbar {
  background-color: #333;
  width: 100%;
  height: 100px;
}

.ul-navbar {
  display: flex;
  height: 100px; 
  justify-content: center;
  align-items: center;
}

.li-navbar {
  border : 1px solid white;
  background-color: black;
  list-style-type: none ;
  padding: 20px;
  margin: 5px;
  color: white;
  font-size: 30px;
  border-radius: 70px;
}

.li-navbar:hover{
  color: tomato;
  transition: .5s ease-in-out;
  transition-delay: .1s;
  border-radius: 20px;
}


.a-navbar {
  color: white;
  text-decoration: none;
}

.container-content {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.a-content {
  background-color: rgb(48, 47, 47);
  width: 720px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: hwb(66 0% 0% / 0.979);
}

.a-content:hover{
  color: tomato;
  transition: .5s ease-in-out;
  transition-delay: .1s;
  border-radius: 40px;
}
  .img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 50px;
}

.container-footer {
  height: 10vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-footer {
  font-size: 40px;
  color: white;

}